<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form class="m-3">
        <mat-form-field class="w-100">
          <mat-label>Pergunta</mat-label>
          <input matInput placeholder="Pergunta..." value="">
          <button matSuffix mat-icon-button (click)="getData()" >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class=" w-100">
          <mat-label>Resposta</mat-label>
          <textarea matInput placeholder="resposta..." [value]="resposta"></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-piechart (respostas)="getRespostas($event)" #piechart></app-piechart>
  </div>
</div>

